<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.TOrderMapper">
  <resultMap id="BaseResultMap" type="com.example.domain.TOrder">
    <!--@mbg.generated-->
    <!--@Table  t_order-->
    <id column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="car_num" jdbcType="INTEGER" property="carNum" />
    <result column="card" jdbcType="VARCHAR" property="card" />
    <result column="park_time" jdbcType="FLOAT" property="parkTime" />
    <result column="payment" jdbcType="INTEGER" property="payment" />
    <result column="pay_way" jdbcType="INTEGER" property="payWay" />
    <result column="car_statu" jdbcType="INTEGER" property="carStatu" />
    <result column="admin_name" jdbcType="VARCHAR" property="adminName" />
    <result column="park_id" jdbcType="INTEGER" property="parkId" />
    <result column="verification_code" jdbcType="INTEGER" property="verificationCode" />
    <result column="deleted" jdbcType="INTEGER" property="deleted" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    order_id, car_num, card, park_time, payment, pay_way, car_statu, admin_name, park_id,
    verification_code, deleted, create_time, update_time
  </sql>
</mapper>
